Package: galacticempire
Version: 1.0-1
Architecture: all
Maintainer: Robert Landrum <robertlandrum@gmail.com>
Installed-Size: 52
Depends: libdbd-sqlite3-perl, libdbi-perl, libgnome2-perl, libgtk2-perl, perl
Section: games
Priority: extra
Description: Simple strategy game with unique enemies
 Galactic Empire is a strategy game where your mission, as the Humans, is to
 dominate the galaxy.  There are 8 other races, each with a different battle
 tactic.  This is a port of a Mac OS 7 game of the same name, whose original
 code was written in 1990, and later updated in 1996.  This port was done
 with the blessing of the original authors.  That game was based on an
 earlier, similar game called Galax.
